body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #9ad3ff, #fad0c4);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.weatherbox {
    background-color: rgb(243, 243, 243);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 180px;
    font-weight: thin;
    color: #feb47b;
    line-height: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.temp {
    background-color: white;
    border-radius: 200px;
    text-align: center;
    padding: 25px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.095);
    height: 250px;
    width: 250px;
    display: absolute;
    margin-left: 0px;
  }

  .oneclick {
    display: absolute;
    font-weight: bold;
    margin-left: 175px;
    margin-top: -275px;
    font-size:120px;
    color: #9e6cb5;
    cursor: pointer;
    transition: 0.3s;
  }

.nav-link {
    font-size: 20px;
    padding: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: #9e6cb5;
    font-size: 22px;

}

.row {
    padding: 10px;
}

.information {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: rgb(139, 139, 139);
    border: 0;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(255, 237, 170);
    margin: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.095);
}

.information:hover {
    background-color: rgb(255, 230, 138);
}

.col {
    background-color: white;
    color:#9ad3ff;
    padding: 2px 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.095);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

.searchbar {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #b1b1b184;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 12px;
    height: 40px;
    width: 100%;
}

  .small-container {
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
}
