body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #9ad3ff, #fad0c4);
    height: 100vh;
}

h4 {
    text-align: center;
    font-family: 'Hina Mincho', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    padding-top: 30px;
}

h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff98;
    font-size: 13px;
}

.container {
    display: flex;
    justify-content: center;
}

.nav {
    padding-top: 30px;
}

.nav-link {
    font-size: 20px;
    padding: 30px;
    color: #d79767;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: #9e6cb5;
    font-size: 22px;

}

.weatherbox {
    background-color: rgba(243, 243, 243, 0.614);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 200px;
    font-weight: thin;
    color: #feb47b;
    line-height: 150px;
    font-family: 'Hina Mincho', sans-serif;
    letter-spacing: -5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.temp {
    border-radius: 200px;
    text-align: center;
    padding: 25px;
    margin-top: 10px;
    height: 250px;
    width: 250px;
    display: absolute;
    margin-left: 0px;
    background-image: url('img/cloud.png');
    background-size: cover;
    }
    
  .oneclick {
    display: absolute;
    font-weight: bold;
    margin-left: 190px;
    margin-top: -250px;
    font-size: 100px;
    color: #feb47b;
    cursor: pointer;
    transition: 0.3s;
  }

h3 {
    background-color: white;
    color:#9ad3ff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.095);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

.information {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(139, 139, 139);
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(255, 237, 170);
    margin: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.095);
}

.information:hover {
    background-color: rgb(255, 230, 138);
}



.searchbar {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #b1b1b184;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 12px;
    height: 40px;
    width: 100%;
}

  .small-container {
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 15px;
}




@media (max-width: 700px) {
    .nav-link {
        font-size: 18px;
        padding: 10px;
    }
    .nav-link:hover {
        color: #9e6cb5;
        font-size: 18px;
    }
    .weatherbox {
        display: flex;
        max-width: 450px;
        margin: 0 auto;
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        padding: 10px;
        border-radius: 15px;
        font-size: 14px;
      }
    }